<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OneWireTemperatureClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <applicationSettings>
    <OneWireTemperatureClient.Properties.Settings>
      <setting name="PachubeCsvUrl" serializeAs="String">
        <value>http://www.pachube.com/api/feeds/3128.csv</value>
      </setting>
      <setting name="PachubeHttpHeader" serializeAs="String">
        <value>X-PachubeApiKey: 5b25f51c296ad522311b63d48f3ac89b0583e4e833d5488a2ad6822158061eb0</value>
      </setting>
      <setting name="UploadIntervalSeconds" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="TemperaturePollIntervalSeconds" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="OneWireAdapterName" serializeAs="String">
        <value>{DS9490}</value>
      </setting>
      <setting name="OneWirePortName" serializeAs="String">
        <value>USB1</value>
      </setting>
    </OneWireTemperatureClient.Properties.Settings>
  </applicationSettings>
</configuration>